@use '../../shared/styles/variables' as *;

.homeContainer {
  background-color: $color-bg-light-card;
}

.contentContainer {
  padding: 0;
}


.shootingClub{
  display: flex;
  align-items: top;
}

.shootingClubRight{
  width: 70%;
}
