@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=League+Spartan:wght@100..900&display=swap');
*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	font-family: 'League Spartan', sans-serif;
	margin: 0;
	line-height: 1.5;
	background-color: #3a3a4a;
	max-width: 100%;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}
h1 {
	font-family: 'Dela Gothic One', sans-serif;
}
ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}
