@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	font-family: 'Oswald', sans-serif;
	margin: 0;
	line-height: 1.5;
	background-color:white;
	max-width: 100%;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}
h1 {
	font-family: 'Dela Gothic One', sans-serif;
}
ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: inherit; /* Makes the link inherit the parent element's text color */
	text-decoration: none; /* Removes the underline */
}

/* For full control, define styles for all link states */
a:link,
a:visited,
a:hover,
a:active {
	color: inherit; /* Ensures all states use the same inherited color */
	text-decoration: none; /* Ensures no state has an underline */
}
