.header {
	height: 290px;
	color: #e8e9dd;
	max-height: 400px;
	position: relative;
}
.backgroundImage {
	opacity: 70%;
	position: absolute;
	object-fit: cover;
	height: 100%;
	width: 100%;
	z-index: -20;
	object-position: center;
}
.backgroundElement {
	position: absolute;
	background-color: #545245;
	height: 100%;
	width: 100%;
	opacity: 70%;
	z-index: -10;
}
.phoneBlock {
	color: #e8e9dd;
	opacity: 70%;
	flex: 0 0 300px;
	font-size: 21px;
	font-weight: 600;
	cursor: pointer;
	z-index: 5;
}
.textLogo {
	font-size: 26px;
	flex: 1 1 350px;
	object-position: center;
	margin: 0;
	z-index: 5;
}
.logoUnderLine {
	height: 8px;
	background-color: #e8e9dd;
}
.headerInfo {
	color: #e8e9dd;
	opacity: 70%;
	flex: 0 0 300px;
	min-width: 0;
	word-break: break-word;
	font-size: 21px;
	font-weight: 600;
}
.headerContainer {
	padding: 30px 25px;
	display: flex;
	align-items: center;
	cursor: pointer;
	justify-content: space-between;
	z-index: 30;
}
