.NavBar {
	margin-top: 90px;
}
.navContainer {
	padding: 0 25px;
}
.navList {
	display: flex;
	justify-content: space-between;
	gap: 25px;
}
.listItem {
	color: #B7B6AC;
	cursor: pointer;
	font-size: 22px;
	font-weight: 700;
	transition: all ease-in-out 0.3s;
}
.listItem:hover {
	color: #fe3b15;
	transform: scale(1.01);
}

.arrowIcon {
	font-size: medium;
}
.navLeftSide {
	display: flex;
	flex-direction: row;
	gap: 40px;
}
.DropDownList {
	background-color: #545245;
}
.DropDownListItem {
	color: #e8e9dd;
	opacity: 80%;
	font-size: 18px;
	font-weight: 500;
	padding-top: 10px;
	min-width: 200px;
	width: 300px;
	position: relative;
	transition: all ease-in-out 0.2s;
}
.DropDownListItem:hover {
	color: #fe3b15;
}
.DropDownListContainer {
	left: -20px;
	padding: 10px 20px;
	background-color: #545245;
	position: absolute;
	border: 2px;
	border-radius: 10px;
}
