.NavBar {
}
.navContainer {
	padding: 0 25px;
}
.navList {
	display: flex;
	justify-content: space-between;
	gap: 15px;
}
.listItem {
	color: #545245;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	transition: all ease 0.1s;
}
.listItem:hover {
	color: #fe3b15;
	transform: scale(1.001);
}

.arrowIcon {
	font-size: 11px;
}
.navLeftSide {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.DropDownListItem {
	color: #39382f;
	opacity: 80%;
	font-size: 14px;
	font-weight: 400;
	padding-top: 10px;
	min-width: 100px;
	width: 150px;
	position: relative;
	transition: all ease 0.1s;
}
.DropDownListItem:hover {
	color: #fe3b15;
}
.DropDownListContainer {
	left: -20px;
	padding: 10px 20px;
	background-color: #b7b6ac;
	position: absolute;
	z-index: 100;
	border: 2px;
	border-radius: 10px;
}
