.footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #535146;
  padding: 30px 0 10px 0;
  gap: 30px;
  color: #B7B6AC
}

a{
  transition: color 0.3s
}

a:hover{
  color: #FE3B15;
  cursor: pointer;
}

h4{
  font-weight: 600
}

.contentContainer{
  display: flex;
  gap: 20%;
  justify-content: space-between; 
}

.logoImage{
 height: 70px; 
  width: 300px
}

.InfoArea{
  display: flex;
  justify-content: center;
  gap: 10px;

}


.vkLink{
  display: flex;
  align-items: center;
  gap: 5px
}
.vkImage{
  width: 20px;
  margin-bottom: 6px;
}
