.container {
  width: 100%;
  max-width: 1280px !important; /* или любая другая максимальная ширина */
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.blocksContainer{
  display: flex;
  gap: 30px;
  justify-content: space-between;

}
.blocksItem{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #B7B6AC;
  width: 280px;
  border: 2px;
  border-radius: 10px;
  color:#3C3C4C;
  font-weight: 800;
  font-size: 18px;
}
.blocksItem > a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease-in-out
}
.blocksItem:hover{
  transform: scale(1.03);
}

.blocksItemPhoto{
  width: 100% !important;
  height: 260px;
  object-fit: cover;
  display: block;
  padding-bottom: 20px;
    border: 2px;
  border-radius: 10px;
}
.CardBottomPartContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px 5px 20px 5px;
  box-sizing: border-box;
}
.blocksItemLabel{
  text-align: center;
  width: 100%;
  height: 120px;
  font-size: 20px;
  font-weight: bold;
}
.bottomPartButton{
  display: flex;
  align-items: center;
  border: none;
  background-color: #B7B6AC;
  font-size: 17px;
   font-weight: 300;
  color: #545245; 
  transition: all 0.3s ease;
}
.blocksItem.isHovered .bottomPartButton{
  color: #FE3B15 ;

}
.bottomPartChevron{
 font-size: 14px;
}
